body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3345px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:890px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:216px;
  width:1366px;
  height:890px;
}
#u947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1364px;
  height:42px;
  background:inherit;
  background-color:rgba(48, 62, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:217px;
  width:1364px;
  height:42px;
}
#u948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:1598px;
  top:229px;
  width:18px;
  height:18px;
}
#u949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:1618px;
  top:229px;
  width:27px;
  height:19px;
  font-size:13px;
  color:#FFFFFF;
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:6px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:1648px;
  top:235px;
  width:9px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:101px;
  width:470px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#868686;
}
#u952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:470px;
  word-wrap:break-word;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:104px;
  width:3px;
  height:30px;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:98px;
  width:3px;
  height:42px;
}
#u955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:226px;
  width:173px;
  height:26px;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:1435px;
  top:231px;
  width:14px;
  height:15px;
}
#u957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:233px;
  width:13px;
  height:13px;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:443px;
  width:1342px;
  height:340px;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:38px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:0px;
  width:231px;
  height:38px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:217px;
  word-wrap:break-word;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:38px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:0px;
  width:198px;
  height:38px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:0px;
  width:153px;
  height:38px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:0px;
  width:181px;
  height:38px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:38px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:0px;
  width:198px;
  height:38px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:38px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:0px;
  width:237px;
  height:38px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:144px;
  height:41px;
  font-size:28px;
  color:#999999;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:41px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:38px;
  width:231px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:12px;
  width:217px;
  word-wrap:break-word;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:41px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:38px;
  width:198px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:12px;
  width:184px;
  word-wrap:break-word;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:41px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:38px;
  width:153px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:12px;
  width:139px;
  word-wrap:break-word;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:38px;
  width:181px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:12px;
  width:167px;
  word-wrap:break-word;
}
#u972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:41px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:38px;
  width:198px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u972_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:12px;
  width:184px;
  word-wrap:break-word;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:41px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:38px;
  width:237px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:12px;
  width:223px;
  word-wrap:break-word;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:144px;
  height:38px;
  font-size:28px;
  color:#999999;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:38px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:79px;
  width:231px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
}
#u975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:38px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:79px;
  width:198px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:79px;
  width:153px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
}
#u977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:79px;
  width:181px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
}
#u978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:38px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:79px;
  width:198px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:38px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:79px;
  width:237px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:117px;
  width:144px;
  height:36px;
  font-size:28px;
  color:#999999;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:140px;
  word-wrap:break-word;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:36px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:117px;
  width:231px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:217px;
  word-wrap:break-word;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:36px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:117px;
  width:198px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:36px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:117px;
  width:153px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:117px;
  width:181px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u985_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:36px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:117px;
  width:198px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:36px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:117px;
  width:237px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u987_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:144px;
  height:38px;
  font-size:28px;
  color:#999999;
}
#u988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:140px;
  word-wrap:break-word;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:38px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:153px;
  width:231px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:217px;
  word-wrap:break-word;
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:38px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:153px;
  width:198px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u990_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:153px;
  width:153px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u991_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:153px;
  width:181px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u992_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:38px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:153px;
  width:198px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u993_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:38px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:153px;
  width:237px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u994_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:38px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:191px;
  width:144px;
  height:38px;
  font-size:28px;
  color:#999999;
}
#u995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:140px;
  word-wrap:break-word;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:38px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:191px;
  width:231px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u996_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:217px;
  word-wrap:break-word;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:38px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:191px;
  width:198px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u997_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:191px;
  width:153px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u998_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:191px;
  width:181px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u999_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:38px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:191px;
  width:198px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u1000_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:38px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:191px;
  width:237px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u1001_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u1002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:44px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:229px;
  width:144px;
  height:44px;
  font-size:28px;
  color:#999999;
}
#u1002_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:44px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:229px;
  width:231px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u1003_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:217px;
  word-wrap:break-word;
}
#u1004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:44px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:229px;
  width:198px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u1004_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:184px;
  word-wrap:break-word;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:44px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:229px;
  width:153px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u1005_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:139px;
  word-wrap:break-word;
}
#u1006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:44px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:229px;
  width:181px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u1006_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:167px;
  word-wrap:break-word;
}
#u1007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:44px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:229px;
  width:198px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u1007_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:184px;
  word-wrap:break-word;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:44px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:229px;
  width:237px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u1008_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:223px;
  word-wrap:break-word;
}
#u1009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:67px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:273px;
  width:144px;
  height:67px;
  font-size:28px;
  color:#999999;
}
#u1009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:67px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:273px;
  width:231px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
}
#u1010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:67px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:273px;
  width:198px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
}
#u1011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:67px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:273px;
  width:153px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
}
#u1012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:67px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:273px;
  width:181px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
}
#u1013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:67px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:273px;
  width:198px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
}
#u1014_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:67px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:273px;
  width:237px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0099FF;
  text-align:left;
}
#u1015_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:1393px;
  top:885px;
  width:71px;
  height:24px;
  font-size:12px;
}
#u1016_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1016.mouseOver {
}
#u1016_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u1017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:1501px;
  top:885px;
  width:71px;
  height:24px;
  font-size:12px;
}
#u1017_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1017.mouseOver {
}
#u1017_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u1018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:884px;
  width:26px;
  height:26px;
  font-size:12px;
  color:#FFFFFF;
}
#u1018_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  word-wrap:break-word;
}
#u1019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:889px;
  width:85px;
  height:17px;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u1019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:1283px;
  top:885px;
  width:100px;
  height:24px;
}
#u1020_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#333333;
}
#u1020_input:disabled {
  color:grayText;
}
#u1021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3345px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3345px;
  height:42px;
  color:#000000;
}
#u1021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:11px;
  width:454px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u1022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
#u1023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1365px;
  height:52px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:259px;
  width:1364px;
  height:51px;
}
#u1023_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:724px;
  width:174px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1024_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1024.mouseOver {
}
#u1024_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u1025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:736px;
  width:13px;
  height:13px;
}
#u1025_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:277px;
  width:300px;
  height:18px;
}
#u1026_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:402px;
  width:141px;
  height:31px;
}
#u1027_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1027_input:disabled {
  color:grayText;
}
#u1028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:327px;
  width:194px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1028_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u1029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:339px;
  width:53px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u1029_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u1029.mouseOver {
}
#u1029_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  word-wrap:break-word;
}
#u1030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 204, 2, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:405px;
  width:43px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u1030_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u1030.mouseOver {
}
#u1030_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u1031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 204, 2, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:530px;
  width:43px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u1031_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u1031.mouseOver {
}
#u1031_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u1032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 204, 2, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:530px;
  width:43px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u1032_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
}
#u1032.mouseOver {
}
#u1032_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
